* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


body {
    box-sizing: border-box;
    background: url("../images/Abract01.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}

.container{
    display: inline-block;
    width: 25rem;
    height: 25rem;
    padding: 1em;
    border-radius: 0.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 2rem 2.5rem rgba(15, 59, 54, 0.452);
}
.header{
    margin-bottom: 1rem;
}
.form{
    margin: auto;
    width: 75%;
}

.form__input-box:not(:last-child){
    margin-bottom: 1em;
}

.form__input-box:first-child{
    display: flex;
}
.form__input-box:first-child  .form__input:first-child{
    margin-right: 1rem;
}
input:focus{
    outline: none;
}
.form__input{
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-bottom: solid 0.2rem;
    margin: none;
    color: black;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.btn{
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    color: black;
    padding: 0.8rem;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    visibility: hidden;
}
